<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">
    <menu id="dashboard" title="Dashboard Reports" icon="vaadin:chart">
        <item view="fis_StatusOfFundsDashboardView"
              title="msg://gov.fjc.fis.view.dashboard.statusoffundsdashboard/statusOfFundsDashboardView.title"/>
        <item view="fis_ReconciliationDashboardView"
              title="msg://gov.fjc.fis.view.dashboard.reconciliationdashboard/reconciliationDashboardView.title"/>
        <item view="fis_SpendingChartDashboardView"
              title="msg://gov.fjc.fis.view.spendingchartdashboard/spendingChartDashboardView.title"/>
        <item view="fis_JitfDashboardView" title="msg://gov.fjc.fis.view.jitfdashboard/jitfDashboardView.title"/>
    </menu>
    <menu opened="true" id="primary" description="msg://gov.fjc.fis/menu_config.primary.description"
          title="msg://gov.fjc.fis/menu_config.primary.title">
        <item view="fis_Appropriation.list" title="msg://gov.fjc.fis.view.appropriation/appropriationListView.title"/>
        <item view="fis_Division.list" title="msg://gov.fjc.fis.view.division/divisionListView.title"/>
        <item view="fis_Activity.list" title="msg://gov.fjc.fis.view.activity/activityListView.title"/>
        <item view="fis_Obligation.list" title="msg://gov.fjc.fis.view.obligation/obligationListView.title"/>
        <item view="fis_Invoice.list" title="msg://gov.fjc.fis.view.invoice/invoiceListView.title"/>
        <item view="fis_FundControlNotice.list"
              title="msg://gov.fjc.fis.view.fundcontrolnotice/fundControlNoticeListView.title"/>
        <item view="fis_FileAttachment.list"
              title="msg://gov.fjc.fis.view.fileattachment/fileAttachmentListView.title"/>
    </menu>
    <menu id="secondary" description="msg://gov.fjc.fis/menu_config.secondary.description" title="Secondary Displays">
        <item view="fis_JitfTransfer.list" title="msg://gov.fjc.fis.view.jitftransfer/jitfTransferListView.title"/>
        <item view="fis_Branch.list" title="msg://gov.fjc.fis.view.branch/branchListView.title"/>
        <item view="fis_Group.list" title="msg://gov.fjc.fis.view.group/groupListView.title"/>
        <item view="fis_Category.list" title="msg://gov.fjc.fis.view.category/categoryListView.title"/>
        <item view="fis_ObjectClass.list" title="msg://gov.fjc.fis.view.objectclass/objectClassListView.title"/>
        <item view="fis_Fund.list" title="msg://gov.fjc.fis.view.fund/fundListView.title"/>
        <item view="fis_Vendor.list" title="msg://gov.fjc.fis.view.vendor/vendorListView.title"/>
        <item view="fis_ActivityProjection.list"
              title="msg://gov.fjc.fis.view.activityprojection/activityProjectionListView.title"/>
        <item view="fis_ActivityReimbursement.list"
              title="msg://gov.fjc.fis.view.activityreimbursement/activityReimbursementListView.title"/>
        <item view="fis_FileAttachmentCategory.list"
              title="msg://gov.fjc.fis.view.fileattachmentcategory/fileAttachmentCategoryListView.title"/>
    </menu>
    <menu id="jifms" description="msg://gov.fjc.fis/menu_config.jifms.description"
          title="msg://gov.fjc.fis/menu_config.jifms.title">
        <item view="fis_Document.list" title="msg://gov.fjc.fis.view.document/documentListView.title"/>
        <item view="fis_DocumentAudit.list" title="msg://gov.fjc.fis.view.documentaudit/documentAuditListView.title"/>
        <item view="fis_DocumentException.list"
              title="msg://gov.fjc.fis.view.documentexception/documentExceptionListView.title"/>
    </menu>
    <menu id="salaryProjections" description="msg://gov.fjc.fis/menu_config.salaryProjections.description"
          title="msg://gov.fjc.fis/menu_config.salaryProjections.title" icon="vaadin:users">
        <item view="fis_Position.list" title="msg://gov.fjc.fis.view.position/positionListView.title"/>
        <item view="fis_PositionAction.list"
              title="msg://gov.fjc.fis.view.positionaction/positionActionListView.title"/>
        <item view="fis_BonusProjection.list"
              title="msg://gov.fjc.fis.view.bonusprojection/bonusProjectionListView.title"/>
        <item view="fis_Employee.list" title="msg://gov.fjc.fis.view.employee/employeeListView.title"/>
        <item view="fis_PayPeriod.list" title="msg://gov.fjc.fis.view.payperiod/payPeriodListView.title"/>
        <item view="fis_PayAdjustment.list" title="msg://gov.fjc.fis.view.payadjustment/payAdjustmentListView.title"/>
        <item view="fis_ActionCode.list" title="msg://gov.fjc.fis.view.actioncode/actionCodeListView.title"/>
        <item view="fis_PayGrade.list" title="msg://gov.fjc.fis.view.paygrade/payGradeListView.title"/>
        <item view="fis_Department.list" title="msg://gov.fjc.fis.view.department/departmentListView.title"/>
        <item view="fis_LocalityArea.list" title="msg://gov.fjc.fis.view.localityarea/localityAreaListView.title"/>
    </menu>
    <menu id="foundation" description="msg://gov.fjc.fis/menu_config.foundation.description"
          title="msg://gov.fjc.fis/menu_config.foundation.title">
        <item view="fis_Donor.list" title="msg://gov.fjc.fis.view.donor/donorListView.title"/>
        <item view="fis_Division.foundation-list" title="msg://gov.fjc.fis.view.division/divisionListView.title"/>
        <item view="fis_Activity.foundation-list" title="msg://gov.fjc.fis.view.activity/activityListView.title"/>
        <item view="fis_Obligation.foundation-list" title="msg://gov.fjc.fis.view.obligation/obligationListView.title"/>
        <item view="fis_Invoice.foundation-list" title="msg://gov.fjc.fis.view.invoice/invoiceListView.title"/>
        <item view="fis_FundControlNotice.foundation-list"
              title="msg://gov.fjc.fis.view.fundcontrolnotice/fundControlNoticeListView.title"/>
    </menu>
    <menu id="fjcreports" description="msg://gov.fjc.fis/menu_config.fjcreports.description"
          title="msg://gov.fjc.fis/menu_config.fjcreports.title" icon="vaadin:file-table">
        <item bean="fis_ReportRouter" beanMethod="openStatusOfFundsReport"
              description="msg://gov.fjc.fis/menu_config.fis_ReportRouter#openStatusOfFundsReport.description"
              title="Status of Funds"/>
        <item bean="fis_ReportRouter" beanMethod="openEducationProgramsReport"
              description="msg://gov.fjc.fis/menu_config.fis_ReportRouter#openEducationProgramsReport.description"
              title="Education Programs"/>
        <item bean="fis_ReportRouter" beanMethod="openBudgetRequestReport"
              title="msg://gov.fjc.fis.view.report.budgetrequestreport/budgetRequestReportView.title"/>
        <item bean="fis_ReportRouter" beanMethod="openDivisionObligationsReport"
              title="msg://gov.fjc.fis.view.report.divisionobligationsreport/divisionObligationsReportView.title"/>
        <item bean="fis_EducationProgramsAnalysis" beanMethod="generateReportData" title="Program Analysis"/>
        <item bean="fis_EducationProgramsAnalysis" beanMethod="generateCalendarYearReportData"
              title="Program Analysis for Mike"/>
    </menu>
    <menu id="forms" description="msg://gov.fjc.fis/menu_config.forms.description"
          title="msg://gov.fjc.fis/menu_config.forms.title" icon="vaadin:form">
        <item view="fis_Ape.list" title="msg://gov.fjc.fis.view.ape/apeListView.title"/>
        <item view="fis_DistanceLearning.list"
              title="msg://gov.fjc.fis.view.distancelearning/distanceLearningListView.title"/>
    </menu>
    <menu opened="true" id="application" title="msg://gov.fjc.fis/menu.application.title">
        <item view="fis_User.list" title="msg://gov.fjc.fis.view.user/UserListView.title"/>
        <item view="fis_UserMessage.list" title="msg://gov.fjc.fis.view.usermessage/userMessageListView.title"/>
    </menu>
    <item view="flowui_UserSettingsItem.list"
          title="msg://gov.fjc.fis.view.usersettingsitem/userSettingsItemListView.title"/>
</menu-config>